#app-progress {
  @extend .blue;
  position:absolute;
  top:0;
  left:0;
  width:100%;

  .indeterminate {
    @extend .white;
  }
}

nav {
  @extend .blue;
  @extend .darken-1;

  .brand-logo {
    img {max-width:50px;}
  }

  .nav-content .tabs {
    .tab {
      a {
        border-bottom: 0px solid rgba(255, 255, 255, 1);
        @include transition(border 100ms linear);

        &:hover:not(.active) {
          border-bottom-width: 4px;
          border-bottom-color: rgba(255, 255, 255, 0.4);
          @include transition(border 100ms linear);
        }

        &.active {
          border-bottom-width: 4px;
          @include transition(border 100ms linear);
        }
      }
    }
  }
}

.col.input-field.padding-left-0 {
  label {left:0!important;}
}

.select-dropdown.dropdown-content {
  max-height: 300px!important;
}

.page-login {
  background-image: url('/images/bg/login-screen.jpg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal {
  overflow-y: initial!important;
}

.autocomplete-content {
  li {
    img {@extend .display-none;}
  }
}


.dataTables_wrapper {
  .dataTables_length, .dataTables_filter {@extend .display-none;}

  .dataTable {
    width:100%!important;
  }
}
