$sizes: (
  one-quarter: 25,
  one-third: (100/3),
  half: 55,
  two-thirds: ((100/3)*2),
  three-quarters: 75,
  full: 100
);

@each $size, $value in $sizes {
  .#{$size}-height {height: #{$value}vh;}
}
