$spacing: (
  5: 5px,
  10: 10px,
  15: 15px,
  30: 30px,
  auto: auto
);

$directions: (
    -top,
    -right,
    -bottom,
    -left,
    '',
);

@each $option, $size in $spacing {
  @each $direction in $directions {
    .margin#{$direction}-#{$option} { margin#{$direction}: $size!important; }
    .padding#{$direction}-#{$option} { padding#{$direction}: $size!important; }
  }
}

@each $option, $size in $spacing {
  .margin-x-#{$option} {
    margin-left:$size!important;
    margin-right:$size!important;
  }

  .margin-y-#{$option} {
    margin-top:$size!important;
    margin-bottom:$size!important;
  }

  .padding-x-#{$option} {
    padding-left:$size!important;
    padding-right:$size!important;
  }

  .padding-y-#{$option} {
    padding-top:$size!important;
    padding-bottom:$size!important;
  }
}
